{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-12 text-center p-3">
    <h1>Welcome, {{ user_name }}!</h1>
    <p>Your email: {{ user_email }} | <a href="/logout" style="font-weight: bold; color: red;">Log Out</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="m-3">
    <form class="bg-info p-3" method="POST" action="/order_webs">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="web_count">Your Budget $</label>
          <input type="number" id="web_count" name="web_count" class="form-control" required>
        </div>
        <div class="form-group col-md-6">
          <label for="topic">Topic:</label>
          <input type="text" id="topic" name="topic" class="form-control" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Order Websites</button>
    </form>
    <br>
    <h5>After orderd a Website we will contact you. Call +94778543475 WhatsAPP | Teligram | email </h5>
  </div>
</div>
  <div class="col-md-6">
    <div class="text-center">
      <h2>We will try to do it following your budget</h2>
      <table class="table table-bordered table-striped table-hover mx-auto my-3" style="width: 80%;">
        <thead>
          <tr>
            <th>Number</th>
            <th>$$$</th>
            <th>Topic</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order in web_orders %}
            <tr>
              <td>{{ order[0] }}</td>
              <td>{{ order[1] }}</td>
              <td>{{ order[2] }}</td>
              <td>{{ order[3] }}</td>
              <td>{{ order[4] }}</td>
              <td>
                <form action="/cancel_order" method="POST">
                  <input type="hidden" name="order_id" value="{{ order[0] }}">
                  <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <style>
        .table {
          margin: 0 auto; /* center the table horizontally */
        }
      </style>
      <h2>Your Orders. We are working on it</h2>
    </div>
  </div>
</div>

{% endblock %}
