{% extends 'base.html' %}

{% block content %}
  
  <div class="container text-center">
    <h1>EGOTECH Web Development</h1>
    <h3>We specialize in creating beautiful and functional websites and web applications. </h3>
        <p>Login to your account to order a website. If you are not a member please register</p>
    <a href="/login"><button class="btn btn-light btn-lg">Login in</button></a>
    <a href="/register"><button class="btn btn-success">Register</button></a>
    <p>If you want to see project samples <a class="link" href="#">click here</a></p>
    <p>Laravel | Flask | Django | Node.js-Express | Codeigniter | React </p>
  </div>


{% endblock %}
